<p-dialog
  header="Chi tiết thương hiệu kinh doanh"
  [(visible)]="isShowDialog"
  [style]="{ width: '80vw' }"
  [modal]="true"
  styleClass="p-fluid"
  (onHide)="hideDialog()"
  [dismissableMask]="true"
  [closable]="true"
  [draggable]="false"
  [baseZIndex]="1100"
>
  <div class="grid" *ngIf="isShowSkeleton">
    <div class="sm:col-5">
      <div class="flex justify-content-center">
        <p-skeleton shape="circle" size="5rem"></p-skeleton>
      </div>
    </div>
    <div class="sm:col-7">
      <div class="grid">
        <div class="sm:col-12 md:col-6">
          <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
        </div>
        <div class="sm:col-12 md:col-6">
          <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
        </div>
        <div class="sm:col-12 md:col-6">
          <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
        </div>
        <div class="sm:col-12 md:col-6">
          <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
        </div>
        <div class="sm:col-12 md:col-6">
          <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
        </div>
        <div class="sm:col-12 md:col-6">
          <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
        </div>
        <div class="sm:col-12">
          <p-skeleton height="4rem" styleClass="mb-2"></p-skeleton>
        </div>
      </div>
    </div>
  </div>
  <div class="grid" *ngIf="!isShowSkeleton">
    <div class="container-fluid py-5 px-5">
      <div class="row">
        <div class="col-lg-4 pl-0">
          <div class="card custom-card mb-4">
            <div class="card-body text-center">
              <img
                [src]="
                  brand.avatarLink
                    ? brand.avatarLink
                    : 'assets/img/defaultAvatar.png'
                "
                alt="avatar"
                referrerpolicy="no-referrer"
                class="rounded-circle img-fluid"
                style="width: 150px"
              />
              <h5 class="my-2">Tên thương hiệu</h5>
              <p class="text-muted mb-4">{{ brand.name }}</p>

              <ng-container *ngIf="brand.status === 1">
                <hr />
                <h4 class="mb-2"><strong>Xét duyệt</strong></h4>
                <div class="d-flex justify-content-center mb-2">
                  <p-button
                    label="Từ chối"
                    icon="pi pi-times"
                    (onClick)="openUnverifyModal()"
                    class="mr-2"
                    styleClass="p-button-secondary"
                    [pTooltip]="'Từ chối xét duyệt'"
                  ></p-button>
                  <p-button
                    label="Chấp nhận"
                    icon="pi pi-check"
                    (onClick)="verifyBrand()"
                    class="custom-button"
                    [pTooltip]="'Chấp nhận xét duyệt'"
                  ></p-button>
                </div>
              </ng-container>
              <ng-container *ngIf="brand.status === 3">
                <hr />
                <h4 class="mb-2"><strong>Xét duyệt</strong></h4>
                <div class="d-flex justify-content-center mb-2">
                  <p-button
                    label="Duyệt lại"
                    icon="pi pi-pencil"
                    (onClick)="verifyBrand()"
                    class="custom-button"
                    [pTooltip]="'Xét duyệt lại'"
                  ></p-button>
                </div>
              </ng-container>
              <hr />
              <div class="d-flex justify-content-center mb-2">
                <button
                  type="button"
                  [disabled]="brand.status !== 2 && !brand.username"
                  class="btn btn-primary mr-2 "
                  (click)="resetPassword()"
                >
                  <i class="pi pi-replay"></i> Khôi phục mật khẩu
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-8 pr-0">
          <div class="card custom-card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Trạng thái</p>
                </div>
                <div class="col-sm-9">
                  <p-tag
                    *ngIf="brand.status === 0"
                    icon="pi pi-trash"
                    severity="danger"
                    value="Đã xoá"
                    [rounded]="true"
                  ></p-tag>
                  <p-tag
                    *ngIf="brand.status === 1"
                    icon="pi pi-exclamation-triangle"
                    severity="warning"
                    value="Đợi xét duyệt"
                    [rounded]="true"
                  ></p-tag>
                  <p-tag
                    *ngIf="brand.status === 2"
                    icon="pi pi-check"
                    severity="success"
                    value="Được duyệt"
                    [rounded]="true"
                  ></p-tag>
                  <p-tag
                    *ngIf="brand.status === 3"
                    icon="pi pi-info-circle"
                    severity="danger"
                    value="Không được duyệt"
                    [rounded]="true"
                  ></p-tag>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Tài khoản</p>
                </div>
                <div class="col-sm-9" *ngIf="brand.userName">
                  <p class="text-muted mb-0">{{ brand.userName }}</p>
                </div>
                <div class="col-sm-9" *ngIf="!brand.userName">
                  <i
                    style="color: red"
                    class="pi pi-question-circle ml-1"
                    pTooltip="Chưa cập nhật tài khoản."
                  ></i>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Địa chỉ email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ brand.email }}</p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Số điện thoại</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">
                    {{ brand.phoneNumber | slice: 0:4 }}
                    {{ brand.phoneNumber | slice: 4:7 }}
                    {{ brand.phoneNumber | slice: 7:10 }}
                  </p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Mã số kinh doanh</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">
                    {{
                      brand.registrationNumber
                        ? brand.registrationNumber
                        : "Chưa đăng ký"
                    }}
                    <!-- <p-tag
                      *ngIf="isChecked"
                      icon="pi pi-check"
                      severity="success"
                      value="Đã xác thực"
                      [rounded]="true"
                      pTooltip="Đã xác thực tồn tại thông qua trang thongtindoanhnghiep.co"
                    ></p-tag>
                    <p-tag
                      *ngIf="!isChecked"
                      icon="pi pi-times"
                      severity="danger"
                      value="Chưa xác thực"
                      [rounded]="true"
                      pTooltip="Không tìm thấy thông tin, theo nguồn trang thongtindoanhnghiep.co"
                    ></p-tag> -->
                  </p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Ngành kinh doanh</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">
                    {{ brand.industryName }}
                  </p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Mô tả</p>
                </div>
                <div class="col-sm-9">
                  <dx-html-editor
                    valueType="html"
                    [(value)]="brand.description"
                    [readOnly]="true"
                    class="custom-description"
                  >
                  </dx-html-editor>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col px-0">
          <div class="card">
            <app-store-list [brand]="brand"></app-store-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-dialog>

<!-- unverifyModal -->
<p-dialog
  header="Tiêu chí vi phạm"
  [(visible)]="unverifyModal"
  [modal]="true"
  [style]="{ width: '35%', height: '38%' }"
  [baseZIndex]="1100"
  [draggable]="false"
  [resizable]="false"
>
  <div class="row p-10">
    <div class="col-sm-12 col-xl-12 p-l-4">
      <dl class="dl-horizontal row">
        <dt class="col-sm-8 my-1">Lý do từ chối xét duyệt</dt>
        <dd class="col-sm-12">
          <form novalidate [formGroup]="unverifyForm">
            <p-dropdown
              [options]="reasons"
              appendTo="body"
              [baseZIndex]="1000000"
              editable="true"
              [(ngModel)]="rejectMessage"
              placeholder="Mô tả chi tiết nội dung vi phạm"
              appInputRestriction
              formControlName="rejectMessage"
              [class]="
                displayMessage.rejectMessage ? 'ng-dirty ng-invalid' : ''
              "
            ></p-dropdown>
            <p-message
              severity="error"
              *ngIf="displayMessage.rejectMessage"
              text="{{ displayMessage.rejectMessage }}"
            ></p-message>
          </form>
        </dd>
      </dl>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <dl class="dl-horizontal row">
      <div class="col-md-6 text-center">
        <p-button
          label="Huỷ bỏ"
          icon="pi pi-times"
          (onClick)="hideUnverifyModal()"
          class="mr-2"
          styleClass="p-button-secondary"
          [pTooltip]="'Huỷ bỏ nhập dữ liệu'"
        ></p-button>
      </div>
      <div class="col-md-6 text-center">
        <p-button
          label="Xác nhận"
          icon="pi pi-check"
          type="submit"
          [loading]="loading"
          [disabled]="!unverifyForm.valid"
          (onClick)="unverify()"
          class="custom-button"
          [pTooltip]="
            unverifyForm.valid
              ? 'Cập nhật dữ liệu bạn đã nhập'
              : 'Chỉ có thể lưu khi biểu mẫu không có lỗi'
          "
        ></p-button>
      </div>
    </dl>
  </ng-template>
</p-dialog>
