<div class="content">
  <div class="grid" *ngIf="isShowSkeleton">
    <div class="sm:col-6 md:col-3 mb-6">
      <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
      <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
      <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
      <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
    </div>
    <div class="sm:col-6 md:col-3 mb-6">
      <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
      <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
      <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
      <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
    </div>
    <div class="sm:col-6 md:col-3 mb-6">
      <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
      <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
      <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
      <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
    </div>
    <div class="sm:col-6 md:col-3 mb-6">
      <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
      <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
      <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
      <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
    </div>
    <div class="sm:col-12">
      <p-skeleton height="3rem" styleClass="mb-3"></p-skeleton>
      <p-skeleton height="3rem" styleClass="mb-3"></p-skeleton>
      <p-skeleton height="3rem" styleClass="mb-3"></p-skeleton>
      <p-skeleton height="3rem" styleClass="mb-3"></p-skeleton>
      <p-skeleton height="3rem" styleClass="mb-3"></p-skeleton>
    </div>
  </div>
  <div class="row" *ngIf="!isShowSkeleton">
    <div class="col-lg-3 col-md-6 my-2">
      <div class="card custom-card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-5">
              <div class="info-icon text-center icon-color-1">
                <i class="pi pi-building"> </i>
              </div>
            </div>
            <div class="col-7">
              <div class="numbers">
                <p class="card-category">Bất động sản</p>
                <h3 class="card-title">{{ properties.length }}</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <hr />

          <div class="stats" (click)="openProperties()" type="button">
            <i class="tim-icons icon-sound-wave"> </i> Xem chi tiết
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 my-2">
      <div class="card custom-card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-5">
              <div class="info-icon text-center icon-color-2">
                <i class="pi pi-id-card"> </i>
              </div>
            </div>
            <div class="col-7">
              <div class="numbers">
                <p class="card-category">Thương hiệu</p>
                <h3 class="card-title">{{ rawBrands.length }}</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <hr />

          <div class="stats" (click)="openBrands()" type="button">
            <i class="tim-icons icon-sound-wave"> </i> Xem chi tiết
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 my-2">
      <div class="card custom-card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-5">
              <div class="info-icon text-center icon-color-3">
                <i class="pi pi-star"> </i>
              </div>
            </div>
            <div class="col-7">
              <div class="numbers">
                <p class="card-category">Người quản lý khu vực</p>
                <h3 class="card-title">{{ areaManagers.length }}</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <hr />

          <div class="stats" (click)="openAreaManagers()" type="button">
            <i class="tim-icons icon-sound-wave"> </i> Xem chi tiết
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 my-2">
      <div class="card custom-card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-5">
              <div class="info-icon text-center icon-color-4">
                <i class="pi pi-user"> </i>
              </div>
            </div>
            <div class="col-7">
              <div class="numbers">
                <p class="card-category history">Nhân viên môi giới</p>
                <h3 class="card-title">{{ brokers.length }}</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <hr />

          <div class="stats" (click)="openBrokers()" type="button">
            <i class="tim-icons icon-sound-wave"> </i> Xem chi tiết
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 mb-4">
      <div class="card mb-0">
        <p-table
          [resizableColumns]="true"
          [responsive]="true"
          #datatable
          [value]="brands"
          responsiveLayout="scroll"
          [paginator]="true"
          [rows]="TABLE_CONFIG.ROWS"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="Hiển thị từ {first} đến {last} của {totalRecords} mục"
          [rowsPerPageOptions]="TABLE_CONFIG.ROWS_PER_PAGE"
          [globalFilterFields]="['id','name', 'email']"
          [rowHover]="true"
          styleClass="p-sticky p-datatable-striped custom-p-table"
          [columns]="selectedColumns"
          [autoLayout]="true"
        >
          <ng-template pTemplate="caption">
            <div class="grid highlight">
              <div class="col-9 flex align-items-center">
                <h3 class="p-m-0 mb-0" style="font-weight: 600">
                  Thương hiệu chờ xét duyệt
                </h3>
              </div>
              <div class="col-3">
                <div class="flex justify-content-end">
                  <p-multiSelect
                    name="columns"
                    [options]="displayCols"
                    [(ngModel)]="selectedColumns"
                    [maxSelectedLabels]="0"
                    optionLabel="header"
                    selectedItemsLabel="{{
                      cols.length === selectedColumns.length
                        ? 'Tất cả'
                        : 'Chọn cột hiển thị'
                    }}"
                    [style]="{ minWidth: '224px' }"
                    [scrollHeight]="220"
                    placeholder="Chọn cột hiển thị"
                  >
                  </p-multiSelect>
                </div>
              </div>
            </div>
          </ng-template>

          <ng-template pTemplate="header" let-columns>
            <tr>
              <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
                <th
                  *ngSwitchCase="col.field === 'action' ? col.field : ''"
                  [ngStyle]="{ textAlign: col.headerAlign }"
                >
                  {{ col.header }}
                </th>
                <th
                  *ngSwitchDefault
                  [ngStyle]="{ textAlign: col.headerAlign }"
                  pSortableColumn="{{ col.field }}"
                >
                  {{ col.header }}
                  <p-sortIcon field="{{ col.field }}"></p-sortIcon>
                </th>
              </ng-container>
            </tr>
          </ng-template>
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col
                *ngFor="let col of columns"
                [ngStyle]="{ width: col.width || 'auto' }"
              />
            </colgroup>
          </ng-template>

          <ng-template
            pTemplate="body"
            let-brand
            let-columns="columns"
            let-i="rowIndex"
          >
            <tr>
              <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
                <td
                  *ngSwitchCase="'phoneNumber'"
                  [ngStyle]="{ textAlign: col.textAlign }"
                >
                  {{ brand.phoneNumber | slice: 0:4 }}
                  {{ brand.phoneNumber | slice: 4:7 }}
                  {{ brand.phoneNumber | slice: 7:10 }}
                </td>
                <td
                  *ngSwitchDefault
                  [attr.title]="brand[col.field]"
                  [ngStyle]="{ textAlign: col.textAlign }"
                >
                  {{ brand[col.field] }}
                </td>
                <td
                  *ngSwitchCase="'action'"
                  [ngStyle]="{ textAlign: col.textAlign }"
                >
                  <button
                    class="btn btn-primary btn-round btn-icon animation-on-hover mr-2"
                    (click)="openDetailBrand(brand)"
                    pTooltip="Xem chi tiết"
                  >
                    <i class="pi pi-eye"> </i>
                  </button>
                  <button
                    class="btn btn-warning btn-round btn-icon animation-on-hover mr-2"
                    (click)="verify(brand)"
                    pTooltip="Xét duyệt"
                  >
                    <i class="pi pi-exclamation-circle"> </i>
                  </button>
                  <!-- <button
              [disabled]="brand.status === 0 ? true : false"
              class="btn btn-danger btn-round animation-on-hover btn-icon"
              (click)="deleteBrand(brand)"
              pTooltip="Xoá"
            >
              <i class="pi pi-trash"> </i>
            </button> -->
                </td>
              </ng-container>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td [attr.colspan]="_selectedColumns.length" *ngIf="isShowSpin" class="text-center">
                <p-progressSpinner
                  [style]="{ width: '50px', height: '50px' }"
                  styleClass="custom-spinner"
                  strokeWidth="8"
                  fill="#EEEEEE"
                  animationDuration=".5s"
                ></p-progressSpinner>
              </td>
              <td [attr.colspan]="_selectedColumns.length" *ngIf="!isShowSpin" class="text-center">
                Không có thương hiệu cần xét duyệt.
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>

    <ng-container>
      <div class="col-6">
        <div class="card mb-0">
          <app-brand-request></app-brand-request>
        </div>
      </div>
      <div class="col-6">
        <div class="card mb-0">
          <app-contract-coming></app-contract-coming>
        </div>
      </div>
    </ng-container>
  </div>
</div>


<!-- unverifyModal -->
<p-dialog
  header="Tiêu chí vi phạm"
  [(visible)]="unverifyModal"
  [modal]="true"
  [style]="{ width: '35%', height: '38%' }"
  [baseZIndex]="1100"
  [draggable]="false"
  [resizable]="false"
>
  <div class="row p-10">
    <div class="col-sm-12 col-xl-12 p-l-4">
      <dl class="dl-horizontal row">
        <dt class="col-sm-8 my-1">Lý do từ chối xét duyệt</dt>
        <dd class="col-sm-12">
          <form novalidate [formGroup]="unverifyForm">
            <p-dropdown
              [options]="reasons"
              appendTo="body"
              [baseZIndex]="1000000"
              editable="true"
              [(ngModel)]="rejectMessage"
              placeholder="Mô tả chi tiết nội dung vi phạm"
              appInputRestriction
              formControlName="rejectMessage"
              [class]="
                displayMessage.rejectMessage ? 'ng-dirty ng-invalid' : ''
              "
            ></p-dropdown>
            <p-message
              severity="error"
              *ngIf="displayMessage.rejectMessage"
              text="{{ displayMessage.rejectMessage }}"
            ></p-message>
          </form>
        </dd>
      </dl>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <dl class="dl-horizontal row">
      <div class="col-md-6 text-center">
        <p-button
          label="Huỷ bỏ"
          icon="pi pi-times"
          (onClick)="hideUnverifyModal()"
          class="mr-2"
          styleClass="p-button-secondary"
          [pTooltip]="'Huỷ bỏ nhập dữ liệu'"
        ></p-button>
      </div>
      <div class="col-md-6 text-center">
        <p-button
          label="Xác nhận"
          icon="pi pi-check"
          type="submit"
          [loading]="loading"
          [disabled]="!unverifyForm.valid"
          (onClick)="unverify()"
          class="custom-button"
          [pTooltip]="
            unverifyForm.valid
              ? 'Cập nhật dữ liệu bạn đã nhập'
              : 'Chỉ có thể lưu khi biểu mẫu không có lỗi'
          "
        ></p-button>
      </div>
    </dl>
  </ng-template>
</p-dialog>

<router-outlet></router-outlet>
