<div id="map" hidden></div>

<p-table
  #datatable
  responsiveLayout="stack"
  [value]="stores"
  selectionMode="single"
  (onRowSelect)="onRowSelect($event)"
  (onRowUnselect)="onRowUnselect($event)"
  [(selection)]="selectedStore"
  dataKey="id"
  [globalFilterFields]="['id','name', 'address']"
  [columns]="selectedColumns"
>
  <ng-template pTemplate="caption">
    <div class="grid highlight">
      <div class="col-9 flex align-items-center">
        <h3 class="p-m-0 mb-0" style="font-weight: 600">
          Cửa hàng của thương hiệu
        </h3>
      </div>
      <div class="col-3">
        <div class="flex justify-content-end">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              (input)="datatable.filterGlobal($event.target.value, 'contains')"
              placeholder="Tìm kiếm "
              pTooltip="Tìm kiếm cửa hàng"
            />
          </span>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
        <th *ngSwitchDefault [ngStyle]="{ textAlign: col.headerAlign }">
          {{ col.header }}
        </th>
      </ng-container>
    </tr>
  </ng-template>
  <ng-template
    pTemplate="body"
    let-store
    let-columns="columns"
    let-i="rowIndex"
  >
    <tr [pSelectableRow]="store">
      <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
        <td *ngSwitchDefault [ngStyle]="{ textAlign: col.textAlign }">
          <span class="p-column-title">{{ col.header }}</span>
          {{ store[col.field] }}
        </td>
        <td *ngSwitchCase="'action'" [ngStyle]="{ textAlign: col.textAlign }">
          <button
            class="btn btn-danger btn-round animation-on-hover btn-icon"
            (click)="deleteStore(store)"
            pTooltip="Xoá"
          >
            <i class="pi pi-trash"> </i>
          </button>
        </td>
      </ng-container>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td [attr.colspan]="_selectedColumns.length" *ngIf="isShowSpin" class="text-center">
        <p-progressSpinner
          [style]="{ width: '50px', height: '50px' }"
          styleClass="custom-spinner"
          strokeWidth="8"
          fill="#EEEEEE"
          animationDuration=".5s"
        ></p-progressSpinner>
      </td>
      <td [attr.colspan]="_selectedColumns.length" *ngIf="!isShowSpin" class="text-center">
        Không có cửa hàng.
      </td>
    </tr>
  </ng-template>
</p-table>

<ng-container *ngIf="isShowNewDialog">
  <app-store-new (stateNewDialog)="getStateNewDialog($event)"></app-store-new>
</ng-container>
