<div class="content full-page flex justify-content-center align-items-center">
  <div class="grid">
    <div class="col">
      <form class="form">
        <div class="card card-reset card-white">
          <div class="card-footer mt-4">
            <div class="auth-fluid">
              <div class="row">
                <div class="col-sm-12">
                  <div class="auth-body">
                    <form
                      class="md-float-material"
                      (ngSubmit)="resetPassword()"
                      [formGroup]="resetForm"
                    >
                      <div class="auth-box">
                        <div class="row mb-5">
                          <div class="col-md-12">
                            <h2
                              class="text-center txt-primary"
                              style="color: #504f4f; font-weight: 600"
                            >
                              Khôi phục mật khẩu
                            </h2>
                          </div>
                        </div>

                        <div class="grid">
                          <div class="col">
                            <div class="flex justify-content-center">
                              <div class="field px-6 w-100">
                                <div class="form-group">
                                  <label for="userName">Địa chỉ email</label>
                                  <input
                                    id="userName"
(keydown.space)="$event.preventDefault()"
                                    type="text"
                                    pInputText
                                    class="form-control"
                                    [(ngModel)]="email"
                                    name="userName"
                                    appInputRestriction
                      formControlName="email"
                                    [class]="
                                      displayMessage.email
                                        ? 'ng-dirty ng-invalid'
                                        : ''
                                    "
                                  />
                                  <p-message
                                    severity="error"
                                    *ngIf="displayMessage.email"
                                    text="{{ displayMessage.email }}"
                                  ></p-message>
                                </div>
                                <div class="flex justify-content-center mt-5">
                                  <p-button
                                    label="Khôi phục"
                                    icon="pi pi-check"
                                    type="submit"
                                    [loading]="loading"
                                    [disabled]="!resetForm.valid"
                                    (onClick)="resetPassword()"
                                    class="custom-button"
                                    [pTooltip]="
                                      resetForm.valid
                                        ? 'Nhấn để khôi phục'
                                        : 'Chỉ có thể khôi phục khi dữ liệu nhập vào không bị lỗi'
                                    "
                                  ></p-button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
