<p-dialog
  header="Chi tiết thương hiệu kinh doanh"
  [(visible)]="isShowDialog"
  [style]="{ width: '60vw' }"
  [modal]="true"
  (onHide)="hideDialog()"
  styleClass="p-fluid"
  [dismissableMask]="true"
  [closable]="true"
  [draggable]="false"
  [baseZIndex]="1100"
>
  <div class="grid" *ngIf="isShowSkeleton">
    <div class="sm:col-5">
      <div class="flex justify-content-center">
        <p-skeleton shape="circle" size="5rem"></p-skeleton>
      </div>
    </div>
    <div class="sm:col-7">
      <div class="grid">
        <div class="sm:col-12 md:col-6">
          <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
        </div>
        <div class="sm:col-12 md:col-6">
          <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
        </div>
        <div class="sm:col-12 md:col-6">
          <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
        </div>
        <div class="sm:col-12 md:col-6">
          <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
        </div>
        <div class="sm:col-12 md:col-6">
          <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
        </div>
        <div class="sm:col-12 md:col-6">
          <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
        </div>
        <div class="sm:col-12">
          <p-skeleton height="4rem" styleClass="mb-2"></p-skeleton>
        </div>
      </div>
    </div>
  </div>
  <div class="grid" *ngIf="!isShowSkeleton">
    <div class="container-fluid py-5 px-5">
      <div class="row">
        <div class="col-lg-4 pl-0">
          <div class="card custom-card mb-4">
            <div class="card-body text-center">
              <img
                [src]="
                  brand.avatarLink
                    ? brand.avatarLink
                    : 'assets/img/defaultAvatar.png'
                "
                alt="avatar"
                referrerpolicy="no-referrer"
                class="rounded-circle img-fluid"
                style="width: 150px"
              />
              <h5 class="my-2">Tên thương hiệu</h5>
              <p class="text-muted mb-4">{{ brand.name }}</p>

              
            </div>
          </div>
        </div>

        <div class="col-lg-8 pr-0">
          <div class="card custom-card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Trạng thái</p>
                </div>
                <div class="col-sm-9">
                  <p-tag
                    *ngIf="brand.status === 0"
                    icon="pi pi-trash"
                    severity="danger"
                    value="Đã xoá"
                    [rounded]="true"
                  ></p-tag>
                  <p-tag
                    *ngIf="brand.status === 1"
                    icon="pi pi-exclamation-triangle"
                    severity="warning"
                    value="Đợi xét duyệt"
                    [rounded]="true"
                  ></p-tag>
                  <p-tag
                    *ngIf="brand.status === 2"
                    icon="pi pi-check"
                    severity="success"
                    value="Được duyệt"
                    [rounded]="true"
                  ></p-tag>
                  <p-tag
                    *ngIf="brand.status === 3"
                    icon="pi pi-info-circle"
                    severity="danger"
                    value="Không được duyệt"
                    [rounded]="true"
                  ></p-tag>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Tài khoản</p>
                </div>
                <div class="col-sm-9" *ngIf="brand.userName">
                  <p class="text-muted mb-0">{{ brand.userName }}</p>
                </div>
                <div class="col-sm-9" *ngIf="!brand.userName">
                  <i
                    style="color: red"
                    class="pi pi-question-circle ml-1"
                    pTooltip="Chưa cập nhật tài khoản."
                  ></i>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Địa chỉ email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ brand.email }}</p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Số điện thoại</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">
                    {{ brand.phoneNumber | slice: 0:4 }}
                    {{ brand.phoneNumber | slice: 4:7 }}
                    {{ brand.phoneNumber | slice: 7:10 }}
                  </p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Mã số kinh doanh</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">
                    {{ brand.registrationNumber?brand.registrationNumber:"Chưa đăng ký" }}
                    <!-- <p-tag
                      *ngIf="isChecked"
                      icon="pi pi-check"
                      severity="success"
                      value="Đã xác thực"
                      [rounded]="true"
                      pTooltip="Đã xác thực tồn tại thông qua trang thongtindoanhnghiep.co"
                    ></p-tag>
                    <p-tag
                      *ngIf="!isChecked"
                      icon="pi pi-times"
                      severity="danger"
                      value="Chưa xác thực"
                      [rounded]="true"
                      pTooltip="Không tìm thấy thông tin, theo nguồn trang thongtindoanhnghiep.co"
                    ></p-tag> -->
                  </p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Ngành kinh doanh</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">
                    {{ brand.industryName }}
                  </p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Mô tả</p>
                </div>
                <div class="col-sm-9">
                  <dx-html-editor
                    valueType="html"
                    [(value)]="brand.description"
                    [readOnly]="true"
                    class="custom-description"
                  >
                  </dx-html-editor>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-dialog>

